@page
@model CookiePolicy
@{
    ViewData["Title"] = "Cookie Settings";
}
<h1>@ViewData["Title"]</h1>

<p>
    Cookies are small text files stored on your device when visiting a website. Cookies are used to remember your
    preferences and improve your browsing experience. Our website uses these types of cookies:
</p>

<p>1. Essential cookies.</p>
<p>
    These cookies allow you to move around the site and use essential features like secured areas. Without these
    cookies, we cannot provide the requested services. We use these cookies to identify you as being logged in to our
    site, to authenticate you, and for security purposes.
</p>

<p>2. Cookies for personalization.</p>
<p>
    These are used to remembering settings you've applied, like your cookie consent setting, and if you closed the
    cookie consent banner.
</p>

<p>3. Cookies for tracking.</p>
<p>
    These cookies are used by tools that helps developers monitor and improve the performance and usage of their
    applications.
</p>

<p>List of cookies used on this website:</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Cookie</th>
            <th scope="col">Service</th>
            <th scope="col">Category</th>
            <th scope="col">Purpose</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>.AspNetCore.Antiforgery.*</td>
            <td>.olievortex.com</td>
            <td>Essential</td>
            <td>Security</td>
            <td>Proves data you send to our site came from you</td>
        </tr>
        <tr>
            <td>.AspNetCore.Cookies</td>
            <td>.olievortex.com</td>
            <td>Essential</td>
            <td>Security</td>
            <td>Tells us you are logged into the site</td>
        </tr>
        <tr>
            <td>.AspNetCore.Session</td>
            <td>.olievortex.com</td>
            <td>Essential</td>
            <td>Session</td>
            <td>Allows us to provide functional continuity from one page to the next</td>
        </tr>
        <tr>
            <td>OlieCookieConsent</td>
            <td>.olievortex.com</td>
            <td>Essential</td>
            <td>Personal Setting</td>
            <td>Record of your cookie consent choice</td>
        </tr>
        <tr>
            <td>.AspNetCore.OpenIdConnect.Nonce.*</td>
            <td>.olievortex.com</td>
            <td>Essential</td>
            <td>Authentication</td>
            <td>Used to authentice you with our identity provider</td>
        </tr>
        <tr>
            <td>.AspNetCore.Correlation.*</td>
            <td>.olievortex.com</td>
            <td>Essential</td>
            <td>Authentication</td>
            <td>Used to authentice you with our identity provider</td>
        </tr>
        <tr>
            <td>x-ms-cpim-cache|*</td>
            <td>.olievortex.b2clogin.com</td>
            <td>Essential</td>
            <td>Authentication</td>
            <td>Used by our identity provider to authenticate you</td>
        </tr>
        <tr>
            <td>x-ms-cpim-csrf</td>
            <td>.olievortex.b2clogin.com</td>
            <td>Essential</td>
            <td>Authentication</td>
            <td>Used by our identity provider to authenticate you</td>
        </tr>
        <tr>
            <td>x-ms-cpim-sso:olievortex.onmicrosoft.com_0</td>
            <td>.olievortex.b2clogin.com</td>
            <td>Essential</td>
            <td>Authentication</td>
            <td>Used by our identity provider to authenticate you</td>
        </tr>
        <tr>
            <td>x-ms-cpim-trans</td>
            <td>.olievortex.b2clogin.com</td>
            <td>Essential</td>
            <td>Authentication</td>
            <td>Used by our identity provider to authenticate you</td>
        </tr>
        <tr>
            <td>ai_session</td>
            <td>.olievortex.com</td>
            <td>Tracking</td>
            <td>Application Insights</td>
            <td>
                Application Insights is a tool that helps developers monitor and improve the performance and usage of their
                applications
            </td>
        </tr>
        <tr>
            <td>ai_user</td>
            <td>.olievortex.com</td>
            <td>Tracking</td>
            <td>Application Insights</td>
            <td>
                Application Insights is a tool that helps developers monitor and improve the performance and usage of their
                applications
            </td>
        </tr>
        <tr>
            <td>_clck</td>
            <td>.azure.com</td>
            <td>Tracking</td>
            <td>Application Insights</td>
            <td>
                Application Insights is a tool that helps developers monitor and improve the performance and usage of their
                applications
            </td>
        </tr>
        <tr>
            <td>_clsk</td>
            <td>.azure.com</td>
            <td>Tracking</td>
            <td>Application Insights</td>
            <td>
                Application Insights is a tool that helps developers monitor and improve the performance and usage of their
                applications
            </td>
        </tr>
    </tbody>
</table>
&nbsp;
