@page
@model Privacy
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    As part of providing our service, we log your computer's IP Address, and the name/version of the browser you use. We use a
    technology called Microsoft Application Insights to track usage and navigation through the website. This
    information is used internally to improve user experience.
</p>
