@page
@model Privacy
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    As part of providing our service, we log your computer's IP Address, and the name/version of the browser you use. We use a
    technology called Microsoft Application Insights to track usage and navigation through the website. This
    information is used internally to improve user experience.
</p>
<p>
    If you create a user account, we keep a record of your name and email address. This information is
    stored internally to manage your user account. You may receive transactional emails for password resets and other
    user account/subscription maintenance.
</p>
<p>
    If you subscribe to our newsletter, your name and email address shared with Twilio SendGrid.
    Twilio SendGrid is an email marketing PaaS (platform as a service). You may receive promotional or informational
    emails from time to time. To unsubscribe from the newsletter, click the unsubscribe link in the email.
</p>
<p>This service is hosted on the Microsoft Azure cloud within the United States.</p>