@using olieblind.web.Components
@model VideoTileViewComponent.ViewModel
@if (Model.Id > 0)
{
    <div class="col-sm">
        <div class="card" style="width: 322px">
            <div class="card-header">
                @Model.Category
            </div>
            <video width="320" height="180" poster="@Model.PosterUri" preload="metadata" controls>
                <source src="@Model.VideoUri" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
            <div class="card-body">
                <p class="card-text">@Model.Title</p>
                <a class="btn btn-secondary" href="/video/detail?id=@(Model.Id)">Transcript</a>
                @if (Model.ShowHistory)
                {
                    <a class="btn btn-secondary" href="/video/list?category=@(Model.Category)">Older Videos</a>
                }
            </div>
        </div>
    </div>
}